In [1]:
# Series object is a one dimensional labeled array

In [3]:
import pandas as pd

In [4]:
s1 = pd.Series([3, 4, 1 , 2, 55])

In [5]:
s1

0     3
1     4
2     1
3     2
4    55
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

In [11]:
s1 = pd.Series([3, 4, 1 , 2, 55], index=['a', 'b', 'c', 'd', 'e'])
s1

a     3
b     4
c     1
d     2
e    55
dtype: int64

In [12]:
# Series object with dictionary

In [13]:
s2 = pd.Series({'a': 10, 'b': 20, 'c': 30})
s2

a    10
b    20
c    30
dtype: int64

In [15]:
s2 = pd.Series({'a': 10, 'b': 20, 'c': 30}, index=['e', 'a', 'd', 'b'])
s2

e     NaN
a    10.0
d     NaN
b    20.0
dtype: float64

In [17]:
s3 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9])
s3

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [21]:
s3[5]

6

In [18]:
s3[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
s3[-3:]

6    7
7    8
8    9
dtype: int64

In [22]:
# Arithmetic operations

In [23]:
s3

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [24]:
s3 + 5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [29]:
s3

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [30]:
s4 = pd.Series([20, 21, 22, 23])

In [32]:
s3[:4] + s4

0    21
1    23
2    25
3    27
dtype: int64